In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
#Files
input_data_file = "Resources/cities.csv"
output_data_file = "Resources/cities.html"

In [3]:
# Import cities file as DataFrame
cities_data = pd.read_csv(input_data_file)
cities_data.head()

,City,Country,Latitude,Longitude,Temperature,Humidity,Wind,Cloudiness,Datetime
0,albany,US,42.60,-73.97,39.79,33,24.16,40,1587069002
1,yar-sale,RU,66.83,70.83,16.97,98,10.83,97,1587069015
2,ushuaia,AR,-54.80,-68.30,57.20,58,4.70,99,1587069008
3,gardabani,GE,41.46,45.09,46.40,70,34.45,82,1587069121
4,esperance,AU,-33.87,121.90,51.80,87,6.93,0,1587069048

In [4]:
#Export to html
cities_data.to_html(output_data_file, index=False)